<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="javascript/pushNotification.js"></script>
</head>
<body>
 

  <div id="PurpleTopLine">
    <a href="/"><img id="Logo" src="img/Noora.PNG" alt="haloo"></a>
     <form action="/logout?_method=DELETE" method="POST">
      <button style="margin-top: -20px;" type="submit">Log Out</button>
    </form>
  </div>
  <div id="MenuLeft">  
    <p style="text-align: center; color: white; background-color: #AE4D71;" >Übungen</p>

      <div class="LinkBox" >
        <a href="/luxValue"><img class="MenuIcons" src="img/sunlight.svg"></a>
      </div> 

      <div class="LinkBox" >
        <a href="/focus"><img class="MenuIcons" src="img/Focus.svg" alt=""></a> 
      </div> 

      <div class="LinkBox" >
        <a href="/BlinkingContest"><img class="MenuIcons" src="img/Eye.svg" ></a>  
      </div> 

      <div class="LinkBox" >
        <a href="/calmDown"><img class="MenuIcons" src="img/calm.svg" alt=""></a> 
      </div> 
      <p style="text-align: center;color: white; background-color: #AE4D71; " > Menü </p>


      <div class="LinkBox" >
        <a href="/timer"><img class="MenuIcons" src="img/timer.svg" alt=""></a>
        </div> 

      <div class="LinkBox" >
        <a href="/points"><img class="MenuIcons" src="img/points.svg" alt=""></a> 
      </div> 

      <div class="LinkBox" >
        <a href="/settings"><img class="MenuIcons" src="img/settings.svg" alt=""></a>  
      </div> 
  </div>


<div style="width: 30%;" id="AussenBoxInfoUeberschrift" >
    <h1 style="float: left; width: 42%;" class="LinkeUeberschriftSeitenbezeinchung">Calm Down</h1> 
    <button style="margin-bottom: 10px;" class="tooltip"> <b>i</b> 
      <span class="tooltiptext"><h3 style="color: white;" >Prof. Dr. Hubermann (Stanford Neuroscience Department) </h3> <video width="400"  height="300px" controls src="/video/physiologicalSigh.mp4" alt=""></video> 
  
  
      </span>
  </button> 
  <p id="pTextMargin" style="margin-top: 30px; font-family: Muli; color: gray; font-size: 12;" >
    Dies ist eine beruhigende Übung zum Anwenden in Echtzeit. Diese Übung kann also überall genutzt werden, um sich in stressigen 
    oder ängstlichen Situationen zu beruhigen. Mehrs Info gibt es unter dem Info-Button.
    Die Übung wird 8 Mal wiederholt, dabei wird einmal lange und danach einmal kurz eingeatmen und dann lange ausgeatmet. 
</div>



<div id="kasten">


  <button  class="pointer" onclick="superOxiginatingBreathingAnimation()" id="startbutton">
    Übung starten
  </button>

  <button  class="pointer" onclick="reset_animation()" id="stopbutton">
    🗘
  </button>

</div>

<div id="counterCalmSite">0</div>


<div id="elementCalmSite"></div>




<script>

    
    function reset_animation() {
    var x = document.getElementById('elementCalmSite').style.animationName = "stretchCalmAnimation";
    document.getElementById('elementCalmSite').style.animationPlayState = "paused"; 

    }


    var newYearCountdown;
            var counter;

            function reset_animation() {
                var el = document.getElementById('elementCalmSite');
                el.style.animation = 'none';
                el.offsetHeight; /* trigger reflow */
                el.style.animation = null; 
                document.getElementById("counterCalmSite").innerHTML = 0;
                clearInterval(newYearCountdown);
            }

  
            // Funtktion auf der Fokus Seite 
            function superOxiginatingBreathingAnimation() {
            var x = document.getElementById('elementCalmSite').style.animationName = "stretchCalmAnimation";


              var counter = 1;
              newYearCountdown = setInterval(function(){
                console.log(counter);
                document.getElementById("counterCalmSite").innerHTML = counter;

                if (counter === 9) {

                  clearInterval(newYearCountdown);
                  document.getElementById("counterCalmSite").innerHTML = 0;
                  counter = 0;
                  alert("Übung erfolreich abgeschlossen!")
                  /// Store 10 Points on Completing Exercise
                  var url = "/storePoints";
                  var xhr = new XMLHttpRequest();
                  xhr.open("POST", url);
                  xhr.setRequestHeader("Accept", "application/json");
                  xhr.setRequestHeader("Content-Type", "application/json");                     
                  var data = {
                    "points": 20
                  };
            
                  xhr.send(data.points);

                }
                counter++



              }, 6000);


  
              }


    
    </script>

    <style>



#elementCalmSite {
            height: 150px;
            width: 150px;
            margin: 0 auto;
            background-color: #306A86;
            /*animation-name: stretch;*/
            animation-duration: 6s;
            animation-timing-function: ease-out;
            animation-iteration-count: 8;
            top: 65%;
            left: 55%;
            border-radius: 100%;
        }

  
@keyframes stretchCalmAnimation {
            0% {
                transform: scale(1);
                background-color: #306A86;
                border-radius: 100%;
            }
  
            30% {
              transform: scale(1.6);

                background-color: rgb(61, 128, 161);
                border-radius: 100%;

            }
            
            37.5% {
              transform: scale(1.6);
              background-color: rgb(61, 128, 161);
              border-radius: 100%;

          }
  
            45% {
                transform: scale(2.2);
                background-color: rgb(88, 155, 189);
                border-radius: 100%;

            }

            70% {
              transform: scale(1);
              background-color: rgb(88, 155, 189);
              border-radius: 100%;

          }

          100% {
            transform: scale(1);
            background-color: rgb(88, 155, 189);
            border-radius: 100%;

            }

        }





          
          
@keyframes counterCalmSite {
  0% {
      counter-increment: count 0;
    }

    12.5% {
      counter-increment: count 1;
    }

    25% {
      counter-increment: count 2;
    }
    
    37.5% {
      counter-increment: count 3;
    }

    50% {
      counter-increment: count 4;
    }

    62.5% {
      counter-increment: count 5;
    }

    75% {
      counter-increment: count 6;
    }

    87.5% {
      counter-increment: count 7;
    }

    100% {
      counter-increment: count 8;
    }

}




#button {
    font-family: Muli;
    color: #306A86;
    background-color: white;
    font-size: 25px;
    border-radius: 0;
    border-color: #306A86;
    box-shadow: 0px 0px white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    top: 35%;
    left: 53%;
}

#counterCalmSite{
  font-size: 28px;
  font-family: Muli;
  color: #4d4d4d;
  font-weight: 400;
  display: block;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 30px;

  margin-right: auto;
  width: 1%;
}

    </style>
</body>
 <div name="username" id="details" style="visibility: hidden"></div>

      <div
        id="chartContainer"
        style="height: 300px; width: 80%; visibility: hidden"
      ></div>
      <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
      <!-- <div id="storePointRequest" style="visibility: hidden"></div> -->




  </body>
