<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="javascript/pushNotification.js"></script>

</head>
<body>
 

  <div id="PurpleTopLine">
    <a href="/"><img id="Logo" src="img/Noora.PNG" alt="haloo"></a>
     <form action="/logout?_method=DELETE" method="POST">
      <button style="margin-top: -20px;" type="submit">Log Out</button>
    </form>
  </div>

  <div id="MenuLeft">  
    <p style="text-align: center; color: white; background-color: #AE4D71;" >Übungen</p>

      <div class="LinkBox" >
        <a href="/luxValue"><img class="MenuIcons" src="img/sunlight.svg"></a>
      </div> 

      <div class="LinkBox" >
        <a href="/focus"><img class="MenuIcons" src="img/Focus.svg" alt=""></a> 
      </div> 

      <div class="LinkBox" >
        <a href="/BlinkingContest"><img class="MenuIcons" src="img/Eye.svg" ></a>  
      </div> 

      <div class="LinkBox" >
        <a href="/calmDown"><img class="MenuIcons" src="img/calm.svg" alt=""></a> 
      </div> 
      <p style="text-align: center;color: white; background-color: #AE4D71; " > Menü </p>


      <div class="LinkBox" >
        <a href="/timer"><img class="MenuIcons" src="img/timer.svg" alt=""></a>
        </div> 

      <div class="LinkBox" >
        <a href="/points"><img class="MenuIcons" src="img/points.svg" alt=""></a> 
      </div> 

      <div class="LinkBox" >
        <a href="/settings"><img class="MenuIcons" src="img/settings.svg" alt=""></a>  
      </div> 
  </div>


  <style>


    
    svg {
      margin: auto;
      margin-left: 5%;
      margin-top: 10%;
    }
    
    #lid {
      -webkit-animation: blink 25s infinite;
              animation: blink 25s infinite;
    }
    
    #eye {

      -webkit-animation: squeeze 25s infinite;
              animation: squeeze 25s infinite;
    }
    
    @-webkit-keyframes blink {
      90% {
        -webkit-transform: none;
                transform: none;
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
      }
      93% {
        -webkit-transform: translateY(15px) scaleY(0);
                transform: translateY(15px) scaleY(0);
      }
      100% {
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
      }
    }
    
    @keyframes blink {
      90% {
        -webkit-transform: none;
                transform: none;
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
      }
      93% {
        -webkit-transform: translateY(15px) scaleY(0);
                transform: translateY(15px) scaleY(0);
      }
      100% {
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
      }
    }
    @-webkit-keyframes squeeze {
      90% {
        -webkit-transform: none;
                transform: none;
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
      }
      93% {
        -webkit-transform: translateY(3px) scaleY(0.8);
                transform: translateY(3px) scaleY(0.8);
      }
      94% {
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
      }
    }
    @keyframes squeeze {
      90% {
        -webkit-transform: none;
                transform: none;
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
      }
      93% {
        -webkit-transform: translateY(3px) scaleY(0.8);
                transform: translateY(3px) scaleY(0.8);
      }
      94% {
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
      }
    }
  
    
  #counter::after {
      position: fixed;
      top: 35%;
      left: 49%;
      font-family: Muli;
      font-size: 35px;
      content: counter(count);
      animation-duration: 36s;
      counter-reset: count 0;
      animation-name: var(--pseudo-animation-name)
  }
  
  
  
                
  @keyframes counter {
              0% {
                  counter-increment: count 0;
                }
                3.3% {
                  counter-increment: count 1;
                }
                6.6% {
                  counter-increment: count 2;
                }
                9.9% {
                  counter-increment: count 3;
                }
                13.2% {
                  counter-increment: count 4;
                }
                16.5% {
                  counter-increment: count 5;
                }
                19.8% {
                  counter-increment: count 6;
                }
                23.1% {
                  counter-increment: count 7;
                }
                26.4% {
                  counter-increment: count 8;
                }
                29.5% {
                  counter-increment: count 9;
                }
                33% {
                  counter-increment: count 10;
                }
                36.3% {
                  counter-increment: count 11;
                }
                39.6% {
                  counter-increment: count 12;
                }
                42.9% {
                  counter-increment: count 13;
                }
                46.2% {
                  counter-increment: count 14;
                }
                49.5% {
                  counter-increment: count 15;
                }
                52.8% {
                  counter-increment: count 16;
                }
                56.1% {
                  counter-increment: count 17;
                }
                59.4% {
                  counter-increment: count 18;
                }
                62.7% {
                  counter-increment: count 19;
                }
                66% {
                  counter-increment: count 20;
                }
                69.3% {
                  counter-increment: count 21;
                }
                72.6% {
                  counter-increment: count 22;
                }
                75.9% {
                  counter-increment: count 23;
                }
                79.2% {
                  counter-increment: count 24;
                }
                82.5% {
                  counter-increment: count 25;
                }
                85.8% {
                  counter-increment: count 26;
                }
                89.1% {
                  counter-increment: count 27;
                }
                92.4% {
                  counter-increment: count 28;
                }
                95.7% {
                  counter-increment: count 29;
                }
                99% {
                  counter-increment: count 30;                
                }
           
          }
  
  </style>
  
  

  




<h1  style="float: left; width: 20%; margin-left: 25px;" >Starring Contest</h1>     
  <button style="margin-top: 10px;" class="tooltip"> <b>i</b> 
  <span class="tooltiptext"><h3 style="color: white;" >Prof. Dr. Hubermann (Stanford Neuroscience Department) </h3>
    <span>Dr. Hubemann erklärt die Vorteile beim Lesen und in Gesprächen weniger zu blinzeln. Diese Übung soll dabei helfen.</span>
    <video width="400"  height="300px" controls src="/video/BlinkingIsimpotant.mp4" alt=""></video> <b>Vorteile der Übung:</b> In ihrer Studie fanden Terhune et al. (2016) heraus, 
      dass es einen Zusammenhang mit der Häufigkeit des Blinzelns einer Person und mit der Zeitwahrnehmung & 
      Aufmerksamkeit gibt. (Terhune, 2016, Huberman 2021).  
      Wenn das Sichtfeld klein, also fokussiert ist und ein Gegenstand lange „angestarrt“ wird, ohne zu blinzeln, schüttet 
      der Körper Epinephrin (Adrenalin) und Acetylcholin, die beiden „Konzentrationsmoleküle“ aus. 
      Dieser Zustand wird am besten erreicht, wenn ein Gegenstand ins Sichtfeld genommen wird, der in der ähnlichen Entfernung ist, 
      in der auch später gearbeitet wird. Das sollte man für ca. 30 Sekunden durchhalten (Huberman, 2021, Folge #6, ab Minute 01:03:00). <br>
      Huberman, A. (2021). Andrew Huberman. <a href="https://www.youtube.com/channel/UC2D2CMWXMOVWx7giW1n3LIg"> YouTube </a>
  </span>
</button> 
<p id="pTextMargin" style="margin-top: 30px; font-family: Muli; color: gray; font-size: 12;" >Drücken Sie auf "Übung starten" und schauen sie die ganze Zeit entweder auf die Zahl oder die dargestellten Augen.
   <br> Die Übung wird <b> 30 Sekunden </b> laufen. <br>
  Die Kamera in ihrem PC erkennt, ob sie blinzeln oder nicht. Viel Erfolg!  <br>
  Versuchen Sie solange es geht nicht zu blinzeln. 
</p>


  <button onclick="startCountingBlinking()" id="startbutton">
          Übung starten
        </button>

        <button  class="pointer" onclick="reset_animation()" id="stopbutton">
          🗘
        </button>


        <script>

          var counter; 
          var blinkingEyeCountdown;

          function reset_animation() {
                counter = 0;
                document.getElementById("counterSOB").innerHTML = 0;
                clearInterval(blinkingEyeCountdown);

              }
        
          function startCountingBlinking() {
        
          const root = document.querySelector(":root"); //grabbing the root element
          counter = 1;
          blinkingEyeCountdown = setInterval(function(){
        setTimeout(3000);
        console.log(counter);
        document.getElementById("counterSOB").innerHTML = counter;

        if (counter === 9) {
          clearInterval(blinkingEyeCountdown);
          document.getElementById("counterSOB").innerHTML = 0;
          counter = 0;

          /// Store 10 Points on Completing Exercise
          // document.getElementById("storePointRequest").innerHTML = "req";
          var url = "/storePoints";
          var xhr = new XMLHttpRequest();
          xhr.open("POST", url);
          xhr.setRequestHeader("Accept", "application/json");
          xhr.setRequestHeader("Content-Type", "application/json"); 
          // xhr.onreadystatechange = function () {
          //   if (xhr.readyState === 4) {   
          //     document.getElementById("storePointRequest").innerHTML = "res";
          //   }
          // };   
          alert("Übung erfolreich abgeschlossen!")
          var data = {
            "points": 20
          };
    
          xhr.send(data.points);
        }

        counter++


      }, 1000);

    }

      </script>

<div id="counterSOB">0</div>



    <div id="AugenVerschiebung" > 

      <svg width="100" height="100" viewBox="0 0 30 30" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <path d="M0,15.089434 C0,16.3335929 5.13666091,24.1788679 14.9348958,24.1788679 C24.7325019,24.1788679 29.8697917,16.3335929 29.8697917,15.089434 C29.8697917,13.8456167 24.7325019,6 14.9348958,6 C5.13666091,6 0,13.8456167 0,15.089434 Z" id="outline"></path>
        <mask id="mask">
          <rect width="100%" height="100%" fill="#306A86"></rect>
          <use xlink:href="#outline" id="lid" fill="black"/>
        </mask>
      </defs>
      <g id="eye">
        <path d="M0,15.089434 C0,16.3335929 5.13666091,24.1788679 14.9348958,24.1788679 C24.7325019,24.1788679 29.8697917,16.3335929 29.8697917,15.089434 C29.8697917,13.8456167 24.7325019,6 14.9348958,6 C5.13666091,6 0,13.8456167 0,15.089434 Z M14.9348958,22.081464 C11.2690863,22.081464 8.29688487,18.9510766 8.29688487,15.089434 C8.29688487,11.2277914 11.2690863,8.09740397 14.9348958,8.09740397 C18.6007053,8.09740397 21.5725924,11.2277914 21.5725924,15.089434 C21.5725924,18.9510766 18.6007053,22.081464 14.9348958,22.081464 L14.9348958,22.081464 Z M18.2535869,15.089434 C18.2535869,17.0200844 16.7673289,18.5857907 14.9348958,18.5857907 C13.1018339,18.5857907 11.6162048,17.0200844 11.6162048,15.089434 C11.6162048,13.1587835 13.1018339,11.593419 14.9348958,11.593419 C15.9253152,11.593419 14.3271242,14.3639878 14.9348958,15.089434 C15.451486,15.7055336 18.2535869,14.2027016 18.2535869,15.089434 L18.2535869,15.089434 Z" fill="#306A86"></path>
        <use xlink:href="#outline" mask="url(#mask)" fill="#306A86"/>
      </g>
      
      
      </svg>

  
 
      
      <svg id="rechtesAuge" width="100" height="100" viewBox="0 0 30 30" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <path d="M0,15.089434 C0,16.3335929 5.13666091,24.1788679 14.9348958,24.1788679 C24.7325019,24.1788679 29.8697917,16.3335929 29.8697917,15.089434 C29.8697917,13.8456167 24.7325019,6 14.9348958,6 C5.13666091,6 0,13.8456167 0,15.089434 Z" id="outline"></path>
        <mask id="mask">
          <rect width="100%" height="100%" fill="white"></rect>
          <use xlink:href="#outline" id="lid" fill="black"/>
        </mask>
      </defs>
      <g id="eye">
        <path d="M0,15.089434 C0,16.3335929 5.13666091,24.1788679 14.9348958,24.1788679 C24.7325019,24.1788679 29.8697917,16.3335929 29.8697917,15.089434 C29.8697917,13.8456167 24.7325019,6 14.9348958,6 C5.13666091,6 0,13.8456167 0,15.089434 Z M14.9348958,22.081464 C11.2690863,22.081464 8.29688487,18.9510766 8.29688487,15.089434 C8.29688487,11.2277914 11.2690863,8.09740397 14.9348958,8.09740397 C18.6007053,8.09740397 21.5725924,11.2277914 21.5725924,15.089434 C21.5725924,18.9510766 18.6007053,22.081464 14.9348958,22.081464 L14.9348958,22.081464 Z M18.2535869,15.089434 C18.2535869,17.0200844 16.7673289,18.5857907 14.9348958,18.5857907 C13.1018339,18.5857907 11.6162048,17.0200844 11.6162048,15.089434 C11.6162048,13.1587835 13.1018339,11.593419 14.9348958,11.593419 C15.9253152,11.593419 14.3271242,14.3639878 14.9348958,15.089434 C15.451486,15.7055336 18.2535869,14.2027016 18.2535869,15.089434 L18.2535869,15.089434 Z" fill="#306A86"></path>
        <use xlink:href="#outline" mask="url(#mask)" fill="#306A86"/>
      </g>
    </div>
    <div id="storePointRequest" style="visibility: hidden"></div>
     <div name="username" id="details" style="visibility: hidden"></div>

      <div
        id="chartContainer"
        style="height: 300px; width: 80%; visibility: hidden"
      ></div>
      <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>



  </body>



