<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <script defer src="/script.js"></script>

</head>
<body>
 

  <div id="PurpleTopLine">
    <a href="/"><img id="Logo" src="img/Noora.PNG" alt="haloo"></a>
    <form action="/logout?_method=DELETE" method="POST">
      <button style="margin-top: -20px;" type="submit">Log Out</button>
    </form>
  </div>

  <div id="MenuLeft">  

      <div class="LinkBox" >
        <a href="/luxValue"><img class="MenuIcons" src="img/sunlight.svg"></a>
      </div> 

      <div class="LinkBox" >
        <a href="/focus"><img class="MenuIcons" src="img/Focus.svg" alt=""></a> 
      </div> 

      <div class="LinkBox" >
        <a href="/BlinkingContest"><img class="MenuIcons" src="img/Eye.svg" ></a>  
      </div> 

      <div class="LinkBox" >
        <a href="/calmDown"><img class="MenuIcons" src="img/calm.svg" alt=""></a> 
      </div> 

      <div class="LinkBox" >
        <a href="/timer"><img class="MenuIcons" src="img/timer.svg" alt=""></a>
        </div> 

      <div class="LinkBox" >
        <a href="/points"><img class="MenuIcons" src="img/points.svg" alt=""></a> 
      </div> 

      <div class="LinkBox" >
        <a href="/settings"><img class="MenuIcons" src="img/settings.svg" alt=""></a>  
      </div> 

  </div>


  <div style="width: 40%;" id="AussenBoxInfoUeberschrift" >


  
  <h1 style="float: left; width: 38%;" class="LinkeUeberschriftSeitenbezeinchung"> Focus Übung </h1> 

  <button class="tooltip"> <b>i</b> 
    <span class="tooltiptext"><video width="400"  height="300px" controls src="/video/SOBVideo.mp4" alt=""></video><b>Vorteile der Übung:</b> Das schnelle und tiefe Atmen ist eine Art die mentale Wachsamkeit und Konzentration zu erhöhen,
      indem die Produktion von Epinephrin (Adrenalin) angeregt wird. Durch eine bestimmte Atmungstechnik, die „super oxygenating
       breathing“ genannt wird. Der genaue Ablauf hierbei ist, dass einmal durch die Bewegung der Lunge beim schnellen Aus- und 
       Einatmen die Herzschlagfrequnez zunimmt. Der zweite Effekt ist die Erhöhung der Sauerstoffgehaltes im Blut und sommit die 
       Druchblutung im Gehirn zunimmt. Diese beiden Prozesse - in Kombination - bewirken die Freigabe von Epinephrin an den Körper,
        worauf eine erhöhte Wachsamkeit und Aufmerksamkeit folgt. Diese schnellere Folge von Aus- und Einatmen soll ca. 25-30 Mal 
        angewendet werden. In der allgemeinen Medizin ist dieser durch erregte Zustand als aktives „sympathisches Nervensystem“ 
        bekannt. Studien zeigen, dass langsame Atemübungen dieses „deaktivieren“ und schnelle Atmen dieses „aktivieren“.
   </span> </button> 
</div>


  <p style="margin-top: 30px; font-family: Muli; color: gray; font-size: 12;" class="LinkeUeberschriftSeitenbezeinchung">Es handelt sich hierbei um eine Atemübung, die "Superoxiginated Breathing" geannt wird. <br>
     Dabei wird ca. 30 Mal schnell durch die Nase ein- und den Mund ausgeatmet. <br> 
     Dabei wird die Produktion von adrenalin angeregt und der Herzschlag erhöht, was zur Folge hat, <br>
      dass man wacher und konzentrierter ist. <br>
      Bitte beachten Sie hierbei, die Übung nicht während dem Autofahren und am besten nicht im Stehen, <br>
      sondern im Sitzen oder Liegen durchzuführen. <br> Bei starkem Schwindel oder Übelkeit sollte die Übung abgebrochen werden. <br>  Mehr Indo finden unter dem Info-Button.  </p>

   
        <button  class="pointer" onclick="superOxiginatingBreathingAnimation()" id="startbutton">
          Übung starten
        </button>

        <button  class="pointer" onclick="reset_animation()" id="stopbutton">
          🗘
        </button>

        <h2 id="counterSOB">0</h2>
      
        <div id="elementKreisSOB"></div>
  

        
  </div>

  <script>

var newYearCountdown;
            var counter;

            function reset_animation() {
                var el = document.getElementById('elementKreisSOB');
                el.style.animation = 'none';
                el.offsetHeight; /* trigger reflow */
                el.style.animation = null; 
                document.getElementById("counterSOB").innerHTML = 0;
                clearInterval(newYearCountdown);
            }

  
            // Funtktion auf der Fokus Seite 
            function superOxiginatingBreathingAnimation() {
            var x = document.getElementById('elementKreisSOB').style.animationName = "stretch";


              var counter = 0;
              newYearCountdown = setInterval(function(){
                console.log(counter);
                document.getElementById("counterSOB").innerHTML = counter;

                if (counter === 91) {
                  counter++
                  clearInterval(newYearCountdown);
                  document.getElementById("counterSOB").innerHTML = 0;
                  counter = 0;
                  alert("Übung erfolreich abgeschlossen!")

                }
                counter++


              }, 3000);

  
              }


  </script>
