<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div id="PurpleTopLine">
    <a href="/"><img id="Logo" src="img/Noora.PNG" alt="haloo"></a>
 </div>


 <h1>Login</h1>
<% if (messages.error) { %>
  <%= messages.error %>
<% } %>

<div id="loginStyling">
<form id="loginForm" action="/login" method="POST">
  <div>
    <label class="labelLoginRegister"  for="email">ID (for Prototype your Mail)</label> <br>
    <input  class="inputLoginRegister" type="email" id="email" name="email" required>
  </div>
  <div>
    <label class="labelLoginRegister"  for="password">Password</label> <br>
    <input  class="inputLoginRegister" type="password" id="password" name="password" required>
  </div>
  <button id="buttonLogin" type="submit">Login</button>
  <a id="registreirenLink" href="/register">Registrieren</a>
</form>
</div>

</body>