<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="javascript/pushNotification.js"></script>
  </head>
  <body>
    <div id="PurpleTopLine">
      <a href="/"><img id="Logo" src="img/Noora.PNG" alt="haloo" /></a>
      <form action="/logout?_method=DELETE" method="POST">
        <button style="margin-top: -20px" type="submit">Log Out</button>
      </form>
    </div>

    <div id="MenuLeft">  
      <p style="text-align: center; color: white; background-color: #AE4D71;" >Übungen</p>
  
        <div class="LinkBox" >
          <a href="/luxValue"><img class="MenuIcons" src="img/sunlight.svg"></a>
        </div> 
  
        <div class="LinkBox" >
          <a href="/focus"><img class="MenuIcons" src="img/Focus.svg" alt=""></a> 
        </div> 
  
        <div class="LinkBox" >
          <a href="/BlinkingContest"><img class="MenuIcons" src="img/Eye.svg" ></a>  
        </div> 
  
        <div class="LinkBox" >
          <a href="/calmDown"><img class="MenuIcons" src="img/calm.svg" alt=""></a> 
        </div> 
        <p style="text-align: center;color: white; background-color: #AE4D71; " > Menü </p>
  
  
        <div class="LinkBox" >
          <a href="/timer"><img class="MenuIcons" src="img/timer.svg" alt=""></a>
          </div> 
  
        <div class="LinkBox" >
          <a href="/points"><img class="MenuIcons" src="img/points.svg" alt=""></a> 
        </div> 
  
        <div class="LinkBox" >
          <a href="/settings"><img class="MenuIcons" src="img/settings.svg" alt=""></a>  
        </div> 
    </div>
  

    <h1 class="LinkeUeberschriftSeitenbezeinchung">Dein Puntekonto</h1>
    <a href="/Punktepraemien"
      ><button id="BottonInteraktiveGrafikSeite">Punkte einlösen</button></a
    >


    <div></div>
    <div id="Punktestand"></div>

    
    <p>Auf diesen Seiten können momentan Punkte gesammelt werden: <br>
   <a href="/luxValue">https://noorahealth.herokuapp.com/luxValue</a>  <br>
   <a href="/focus">https://noorahealth.herokuapp.com/focus </a>  <br>
   <a href="/BlinkingContest">https://noorahealth.herokuapp.com/BlinkingContest</a> <br>
   <a href="/calmDown">https://noorahealth.herokuapp.com/calmDown</a> <br>
   <a href="/LUXQuiz">https://noorahealth.herokuapp.com/LUXQuiz</a>
    <br>
       </p>

    <h1 class="LinkeUeberschriftSeitenbezeinchung">Deine Badges</h1>

    <div id="aussenCotainerBadges">
      <div>
        <img
          id="Goodstart"
          class="BadegesStylingPointsSEite"
          src="img/Badges/Goodstart.png"
          alt="Das ist ein Badge, für die Kategorie Adrenalin"
        />
      </div>

      <div>
        <img
          class="BadegesStylingPointsSEite"
          src="img/Badges/CarpeDiem.png"
          alt="Das ist ein Badge, für die Kategorie Adrenalin"
        />
      </div>

      <div>
        <img
          class="BadegesStylingPointsSEite"
          src="img/Badges/Adrenalin.png"
          alt="Das ist ein Badge, für die Kategorie Adrenalin"
        />
      </div>

      <div>
        <img
          class="BadegesStylingPointsSEite"
          src="img/Badges/NerdMode.png"
          alt="Das ist ein Badge, für die Kategorie Adrenalin"
        />
      </div>

      <div>
        <img
          class="BadegesStylingPointsSEite"
          src="img/Badges/BeTheBestYouCan.png"
          alt="Das ist ein Badge, für die Kategorie Adrenalin"
        />
      </div>

      <div>
        <img
          class="BadegesStylingPointsSEite"
          src="img/Badges/EArlyBird.png"
          alt="Das ist ein Badge, für die Kategorie Adrenalin"
        />
      </div>

      <div>
        <img
          class="BadegesStylingPointsSEite"
          src="img/Badges/RountineisEverything.png"
          alt="Das ist ein Badge, für die Kategorie Adrenalin"
        />
      </div>
    </div>
    <div name="username" id="details" style="visibility: hidden"></div>

    <div
      id="chartContainer"
      style="height: 300px; width: 80%; visibility: hidden"
    ></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <!-- <div id="storePointRequest" style="visibility: hidden"></div> -->

    <script>
      $(document).ready(() => {
        var url = "/collectPoints";
        var xhr = new XMLHttpRequest();
        xhr.open("GET", url);
        xhr.setRequestHeader("Accept", "application/json");
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
          if (xhr.readyState === 4 && xhr.status === 200) {
            var Punktestand = 0 + parseInt(xhr.response);
            document.getElementById("Punktestand").innerHTML = Punktestand;
          }
        };
        xhr.send();
      });
    </script>
  </body>
</html>
