<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <script defer src="/script.js"></script>

</head>
    
  

 

  <div id="PurpleTopLine">
    <a href="/"><img id="Logo" src="img/Noora.PNG" alt="haloo"></a>
    <form action="/logout?_method=DELETE" method="POST">
      <button style="margin-top: -20px;" type="submit">Log Out</button>
    </form>
  </div>

  <div id="MenuLeft">  

      <div class="LinkBox" >
        <a href="/luxValue"><img class="MenuIcons" src="img/sunlight.svg"></a>
      </div> 

      <div class="LinkBox" >
        <a href="/focus"><img class="MenuIcons" src="img/Focus.svg" alt=""></a> 
      </div> 

      <div class="LinkBox" >
        <a href="/BlinkingContest"><img class="MenuIcons" src="img/Eye.svg" ></a>  
      </div> 

      <div class="LinkBox" >
        <a href="/calmDown"><img class="MenuIcons" src="img/calm.svg" alt=""></a> 
      </div> 

      <div class="LinkBox" >
        <a href="/timer"><img class="MenuIcons" src="img/timer.svg" alt=""></a>
        </div> 

      <div class="LinkBox" >
        <a href="/points"><img class="MenuIcons" src="img/points.svg" alt=""></a> 
      </div> 

      <div class="LinkBox" >
        <a href="/settings"><img class="MenuIcons" src="img/settings.svg" alt=""></a>  
      </div> 

  </div>


  
  <h1 class="LinkeUeberschriftSeitenbezeinchung">Punkte & Prämien</h1> 
  <p class="LinkeUeberschriftSeitenbezeinchung">Deine Punkte werden nach einem 60/40 Verhältnis aufgeteilt. <br>
     Auf dieser Seite kannst du deine Punkte sammeln für in den beiden <br> Kategorien "Prämie" & "Gemeinnutz" einlösen. </p>

<div id="ÜberschriftenPunkteverteilung">

      <h3 class="PunkteUeberschriften" >verfügbare Punkte in der Kategorie "Prämie": 207</h3>

      <h3 class="PunkteUeberschriften" >verfügbare Punkte in der Kategorie "Gemeinnutz": 138</h3>

</div>


<div id="Rand">

    <div id="UmschlagUmAuswahlKategorie1">
        <div class="AuswahlDiv1">dfvgb</div>
        <div class="AuswahlDiv1">fg</div>
        <div class="AuswahlDiv1">fdghs</div>
        <div class="AuswahlDiv1">dfvgb</div>
        <div class="AuswahlDiv1">fg</div>
        <div class="AuswahlDiv1">fdghs</div>
        <div class="AuswahlDiv1">fg</div>
        <div class="AuswahlDiv1">fdghs</div>
    </div>

    <div id="UmschlagUmAuswahlKategorie2" >
        <div class="AuswahlDiv2">gbfgf</div>
        <div class="AuswahlDiv2">vc bv</div>
        <div class="AuswahlDiv2">fgbfg</div>
        <div class="AuswahlDiv2">gbfgf</div>
        <div class="AuswahlDiv2">vc bv</div>
        <div class="AuswahlDiv2">fgbfg</div>
        <div class="AuswahlDiv2">vc bv</div>
        <div class="AuswahlDiv2">fgbfg</div>
    </div>

</div>




<a style="width: 100%;" href="/points"><button id="BottonPraemienSeite"> Einlösen </button></a>

  

</body>

<style>
  #ÜberschriftenPunkteverteilung{
    width: 100%;

  }

  .PunkteUeberschriften{
    width: 47%;
    float: left;
    margin-top:20px;
  }

  .AuswahlDiv1{
    background-color: gray;
    width: 80px;
    height: 80px;
    margin: 40px;
    float: left;
  }

  .AuswahlDiv2{
    background-color: greenyellow;
    width: 80px;
    height: 80px;
    margin: 40px;
    float: left;
  }

  #UmschlagUmAuswahlKategorie1{
    width: 45%;
    float: left;
    margin-top:20px;

  }

  #UmschlagUmAuswahlKategorie2{
    width: 48%;
    float: left;
    margin-top:20px;

  }

  #Rand{
    width: 100%;
  }

  #BottonPraemienSeite{
      background: white;
      color: #306986;
      font-size: 18px;
      border-radius: 0;
      border-color: #306986;
      box-shadow: 0px 0px white;
      padding: 10px;
      padding-left: 20px;
      padding-right: 20px;
      border: 2px solid;
      cursor: pointer;
      margin-top: 80px;
    }

  


  
</style>



        
