
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <div id="PurpleTopLine">
    <a href="/"><img id="Logo" src="img/Noora.PNG" alt="haloo"></a>
 </div>

  

<h1>Register</h1>
<form id="RegisterLoginStyling" action="/register" method="POST">
  <div>
    <label class="labelLoginRegister" for="name">Username</label><br>
    <input class="inputLoginRegister" type="text" id="name" name="name" required>
  </div>
  <div>
    <label class="labelLoginRegister" for="email">ID (for Prototype your Mail)</label><br>
    <input class="inputLoginRegister" type="email" id="email" name="email" required>
  </div>
  <div>
    <label class="labelLoginRegister" for="password">Password</label><br>
    <input class="inputLoginRegister" type="password" id="password" name="password" required>
  </div>
  <label for="password">Themengebiet</label><br>

  <select id="selectRegister" >
    <option>Schlaf & Konzentration</option>
    <option class="nichtverfügbar" >Motivation & Procrastination </option>
    <option  class="nichtverfügbar" > Neuroplastizität & Lernen </option>
  </select> <br>

  <button id="registerButtonOnregisterSite" type="submit">Register</button>

</form>

</body>