
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="script" href="script.js">
    <script defer src="/script.js"></script>
</head>
<body>


  <div id="PurpleTopLine">
    <a href="/"><img id="Logo" src="img/Noora.PNG" alt="haloo"></a>
    <form action="/logout?_method=DELETE" method="POST">
     <button style="margin-top: -20px;" type="submit">Log Out</button>
   </form>
 </div>

 <div id="MenuLeft">  

     <div class="LinkBox" >
       <a href="/luxValue"><img class="MenuIcons" src="img/sunlight.svg"></a>
     </div> 

     <div class="LinkBox" >
       <a href="/focus"><img class="MenuIcons" src="img/Focus.svg" alt=""></a> 
     </div> 

     <div class="LinkBox" >
       <a href="/BlinkingContest"><img class="MenuIcons" src="img/Eye.svg" ></a>  
     </div> 

     <div class="LinkBox" >
       <a href="/calmDown"><img class="MenuIcons" src="img/calm.svg" alt=""></a> 
     </div> 

     <div class="LinkBox" >
       <a href="/timer"><img class="MenuIcons" src="img/timer.svg" alt=""></a>
       </div> 

     <div class="LinkBox" >
       <a href="/points"><img class="MenuIcons" src="img/points.svg" alt=""></a> 
     </div> 

     <div class="LinkBox" >
       <a href="/settings"><img class="MenuIcons" src="img/settings.svg" alt=""></a>  
     </div> 
 </div>




  <h1 class="LinkeUeberschriftSeitenbezeinchung"> Daily Timer ⏰ </h1> 
  <p class="LinkeUeberschriftSeitenbezeinchung" >Wir erinnern Sie gerne an Übungen, wenn und wann Sie wollen. Dazu können Sie zwischen Zufalls- und Zeitplanmodus umschalten oder die Erinnerungen ganz ausschalten.  </p>

  <div class="clock">
    <div class="hand hour" data-hour-hand></div>
    <div class="hand minute" data-minute-hand></div>
    <div class="hand second" data-second-hand></div>
    <div class="number number1">1</div>
    <div class="number number2">2</div>
    <div class="number number3">3</div>
    <div class="number number4">4</div>
    <div class="number number5">5</div>
    <div class="number number6">6</div>
    <div class="number number7">7</div>
    <div class="number number8">8</div>
    <div class="number number9">9</div>
    <div class="number number10">10</div>
    <div class="number number11">11</div>
    <div class="number number12">12</div>
</div>

<div id="StrategieBuilder">
    <div class="InfoButtontimer"><h3 id="StrategieHinzufuegen">+</h3></div>
    <div class="InfoButtontimer"><h3 id="StrategieHaken">✓</h3></div>
</div>


            

          <!-- Script by hscripts.com -->
          <style type="text/css">
            .time { border-width: 0px; }
            </style>
            <script type="text/javascript">


console.log(Notification.permission);

if(Notification.permission === "granted"){

} else if (Notification.permission !== "denied") {
  Notification.requestPermission().then(permission => {
      if(permission === "granted"){
          console.log(permission);
     
  

      }


  
});
}

function showNotification() {
const notification = new Notification("Hall das ist eine Nachricht", {

      body: "Hey, mate how are you? ",
      icon: "img/Noora_square.png"
} );
}

            var set=0;
            ver=parseInt(navigator.appVersion);
            ie4=(ver>3 && navigator.appName!="Netscape")?1:0;
            function play()
            {
            if (ie4)
            document.all['BGSOUND_ID'].src='sound1.wav';
            }
            function setv()
            {
            var hr2
            = document.getElementById('hour2').value;
            var min2
            = document.getElementById('min2').value;
            var sec2
            = document.getElementById('sec2').value;
            if(hr2<10)
            hr2='0'+hr2;
            if(min2<10)min2='0'+min2;
            if(sec2<10)sec2='0'+sec2;
            document.getElementById('d2').value=hr2+'*'+min2+'*'+sec2;
            set=1;
            document.getElementById('msg').innerHTML='Alarm is ON';
            }
            function dis()
            {
            var dat= new Date();
            var hr=dat.getHours();
            var min=dat.getMinutes();
            var sec=dat.getSeconds();
            if(hr<10)hr='0'+hr;
            if(min<10)min='0'+min;
            if(sec<10)
            sec='0'+sec;
            document.getElementById('hour').value=hr;
            document.getElementById('min').value=min;
            document.getElementById('sec').value=sec;
            var dat2v=document.getElementById('d2').value;
            var dats =hr+'*'+min+'*'+sec;
            if(dat2v==dats && set)
            {play(); showNotification();
            set=0;
            document.getElementById('msg').innerHTML='Alarm is OFF';
            }
            setTimeout("dis()",500);
            }
            function prtsel(x)
            {
            for(var i=0;i<x;i++)document.write("<option value="+i+">"+i+"</option>");
            }
            </script>
            <!-- Script by hscripts.com -->

            <table  width=100%>
              <tr><td>
              <body onload=dis()>
              <BGSOUND id="BGSOUND_ID" LOOP=1 SRC="phone-off-hook-1.wav">
              <input type=hidden id=d2 name=d2>
              <input type=text id=hour name=hour size=1 class=time> :
              <input type=text id=min name=min size=1 class=time> :
              <input type=text id=sec name=sec size=1 class=time>
              <br/>
              <select id=hour2 name=hour2 onChange="setv()">
              <script type='text/javascript'>prtsel(25);</script>
              </select>
              <select id=min2 name=min2 onChange="setv()">
              <script type='text/javascript'>prtsel(61);</script>
              </select>
              <select id=sec2 name=sec2 onChange="setv()">
              <script type='text/javascript'>prtsel(61);</script>
              </select>
              <div id=msg>Alarm is OFF</div>
              </body>
              </td></tr></table>
            
     
   
</body>