


* {
    font-family: Muli;
  }

  @font-face {
    font-family: Muli, sans-serif;
    src: local('Muli'), url(/css/muli-regular-webfont.woff2) format('woff2'), 
    url('/css/muli-regular-webfont.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }



body{
  margin-right: -5px;
  margin-top: -0px;
  margin-left: 0px;
  height: 70%;
}

.LinkeUeberschriftSeitenbezeinchung {
    width: 55%;
    color: #4D4D4D;
    padding-left: 23px;
}

h1.LinkeUeberschriftSeitenbezeinchungBadges
 {
  width: 55%;
  padding-left: 20px;
  color: white !important;
}

#LinksZuUebungenSeitenPunkteseite {
  background-color: white;
  padding-left: 20%;
}

h1{
  color: #4D4D4D;
}


h3{
  color: #4D4D4D;
}


.InfoButton {
    background-color: lightgray;
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 14px;
    color: #4D4D4D;

}

/*-- Login Seite ---*/

#LoginH1{
  margin-left: 25px;
}

/*-----Register SEite----*/
#RegisterH1{
  margin-left: 25px;
}

#pTextMargin{
margin-left: 25px;
}

#PurpleTopLine {
    background-color: #3E3E6A;
    width: 100%;
    height: 70px;
}

#Logo {
    padding-top: 0.5%;

        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 120px;
        height: 55px;
}

#MenuLeft {
    float: right;
    width: 85px;
    min-height: 100%;
    background-color: lightgray;
}


.MenuIcons {
    padding-top: 20px;
    height: 60px;
    width: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

.LinkBox:hover .MenuIcons {
    width: 66px;
    height: 66px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.LinkBox {
    height: 100px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.LinkBox:hover {
    height: 100px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #3E3E6A;
}

.LinkBoxÜbungen:hover {
  height: 100px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #3E3E6A;
}

.LinkBoxÜbungen {
  height: 100px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #AE4D71;
}

.LinkBoxÜbungen:hover .MenuIcons {
  width: 66px;
  height: 66px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* LUX Value Seite */

#details {
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    width: 70%;
    color: #4D4D4D;
    margin-left: 25px;

}

#LUXEinleitung{
    width: 20%;
    margin-left: 25px;
 
}

#chartContainer{
margin-left: 25px;
}

.canvasjs-chart-canvas {
    width: 59%;
    -webkit-tap-highlight-color: yellow;
}

#InfoSchrift {
    color: white;
    padding: 15%;
    padding-left: 20px;
    font-size: 30px;
    
}

#AussenBoxInfoUeberschrift{
    width: 100%;
    
}

/* LUX Timer Seite */

#Stundenzeiger{
    background-color: #AE4D71;
    height: 20px;
}

#Minutenzeiger{

    background-color: #AE4D71;

}

#UhrKomplett {
    margin-top: 200px;
}


#StrategieHinzufuegen{

    color: white;
    padding-left: 15px;
    padding-top: 5px;
    font-size: 30px;
    margin-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#StrategieHaken{
    color: white;
    padding-top: 5px;
    padding-left: 15px;
    margin-top: 20px;
    font-size: 25px;
    display: block;
}

#StrategieBuilder{
    width: 30%;
    margin-left: 80%;

}

.InfoButtontimer{
    background-color: lightgray;
    border-radius: 100%;
    height: 50px;
    margin: 10px;
    width: 50px;;

}



  .clock {
    width: 400px;
    height: 400px;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 50%;
    border: 2px solid lightgray;
    position: absolute;
    margin: 150px;
    margin-left: 35%;
 
  }
  
  .clock .number {
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-size: 1.5rem;
  }

  
  .clock .number1 { --rotation: 30deg; }
  .clock .number2 { --rotation: 60deg; }
  .clock .number3 { --rotation: 90deg; }
  .clock .number4 { --rotation: 120deg; }
  .clock .number5 { --rotation: 150deg; }
  .clock .number6 { --rotation: 180deg; }
  .clock .number7 { --rotation: 210deg; }
  .clock .number8 { --rotation: 240deg; }
  .clock .number9 { --rotation: 270deg; }
  .clock .number10 { --rotation: 300deg; }
  .clock .number11 { --rotation: 330deg; }
  
  .clock .hand {
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    border: 1px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform-origin: bottom;
    z-index: 10;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
  }
  
  .clock::after {
    content: '';
    position: absolute;
    background-color: #AE4D71;
    z-index: 11;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
  
  .clock .hand.second {
    width: 3px;
    height: 45%;
    background-color: #4D4D4D;
  }
  
  .clock .hand.minute {
    width: 7px;
    height: 40%;
    background-color: #AE4D71;
  }
  
  .clock .hand.hour {
    width: 10px;
    height: 35%;
    background-color: #AE4D71;
  } 

  
/* Background Styles Only */

  .side-links {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .side-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 10px;
    color: white;
    width: 180px;
    padding: 10px 0;
    border-radius: 10px;
  }

  #external-events {
    z-index: 2;
    top: 20px;
    left: 20px;
    width: 150px;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
  }
  
  #external-events .fc-event {
    margin: 1em 0;
    cursor: move;
  }
  
  #calendar-container {
    position: relative;
    z-index: 1;
    margin-left: 200px;
  }
  
  #calendar {
    max-width: 900px;
    margin: 20px auto;
  }


  #loginStyling {
    width: 40%;
    height: 300px;
    background-color: #306A86;
    margin-top: 20px;
    padding: 12px 120px;
    margin-left: 350px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: white;
  }
  

  #loginForm{
    margin-top: 10%;

  }

  .labelLoginRegister{
      color: white;
      padding-top: 20px;
  }

  
  .inputLoginRegister{
      width: 50%;
      margin-bottom: 6%;
      height: 25px;
      background-color: rgb(231, 231, 231);
      border-radius: 6px;
      border: 0px;
  }

  #registreirenLink{
      color: #4D4D4D ;
      background-color: lightgrey;
      padding: 2%;
      text-decoration: none;
      border-radius: 6px;
      margin-right: 10px;
  }

  #buttonLogin{
    color: #4D4D4D ;
    background-color: lightgrey;
    font-size: 16px;
    padding: 2%;
    text-decoration: none;
    box-shadow: none;
    border: 0px solid;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 6px;
  }

  #RegisterLoginStyling{
    width: 30%;
    height: 410px;
    background-color: #306A86;
    padding-left: 5%;
    padding-top: 3%;
    margin-left: 350px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: white;
  }

  #LoginOnRegisterSite{
    color: #4D4D4D ;
    background-color: lightgrey;
    font-size: 16px;
    padding: 2%;
    text-decoration: none;
    box-shadow: none;
    border: 0px solid;
    cursor: pointer;
  }

  #registerButtonOnregisterSite{
    color: #4D4D4D;
    background-color: lightgrey;
    font-size: 16px;
    padding: 2%;
    width: 100px;
    margin-top: 20px;
    text-decoration: none;
    box-shadow: none;
    border: 0px solid;
    cursor: pointer;
    border-radius: 6px;
  }

  .nichtverfügbar{
      color: lightgrey;
  }

  #selectRegister{
      margin-bottom: 3%;
      height: 25px;
      border-radius: 6px;
      background-color: rgb(231, 231, 231);
      border: 0px;
  }

  #startbutton {
    font-family: Muli;
    color: #306A86;
    background-color: white;
    font-size: 25px;
    border-radius: 0;
    border-color: #306A86;
    box-shadow: 0px 0px white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid;
    top: 25%;
    left: 43%;
    margin-top: 2%;
    cursor: pointer;
    margin-left: 25px;
}


#stopbutton {
  font-family: Muli;
  color: #306A86;
  background-color: white;
  font-size: 25px;
  border-radius: 0;
  border: 0px;
  box-shadow: 0px 0px white;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  top: 25%;
  left: 43%;
  margin-top: 2%;
  cursor: pointer;
}



.tooltip {
    font-family: Muli;
    color: #E19C21;
    background-color: white;
    font-size: 28px;
    border-radius: 30px;
    border-color: #E19C21;
    box-shadow: 0px 0px white;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    border: 2px solid;
    top: 25%;
    left: 57%;
    margin-top: 2%;              
  }


  .tooltip .tooltiptext {
    visibility: hidden;
    width: 420px;
    font-family: Muli;
    font-size: 18px;
    color: white;
    background-color: #E19C21;
    border-radius: 0px;
    padding: 15px;
    overflow: auto;
    height: 450px;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }

  
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    overflow: auto;

  }


  
#elementKreisSOB {
  height: 150px;
  width: 150px;
  margin: 0 auto;
  background-color: #306A86;
  /*animation-name: stretch;*/
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: 60;
  animation-play-state: running;
  top: 60%;
  left: 45%;
  border-radius: 100%;
}


@keyframes stretch {
  0% {
      transform: scale(1);
      background-color: #306A86;
      border-radius: 100%;
  }

  50% {

      background-color: rgb(61, 128, 161);
      border-radius: 100%;

  }

  100% {
      transform: scale(2.0);
      background-color: rgb(88, 155, 189);
      border-radius: 100%;

  }
}

#counter::after {
  top: 40%;
  left: 49%;
  font-family: Muli;
  color: rgb(75, 75, 75);
  font-size: 35px;
  content: counter(count);
  animation-duration: 100s;
  counter-reset: count 0;
  animation-name: var(--pseudo-animation-name)
}




@keyframes counter {
  0% {
      counter-increment: count 0;
    }
    3.3% {
      counter-increment: count 1;
    }
    6% {
      counter-increment: count 2;
    }
    9% {
      counter-increment: count 3;
    }
    12% {
      counter-increment: count 4;
    }
    15% {
      counter-increment: count 5;
    }
    18% {
      counter-increment: count 6;
    }
    21% {
      counter-increment: count 7;
    }
    23% {
      counter-increment: count 8;
    }
    26% {
      counter-increment: count 9;
    }
    29% {
      counter-increment: count 10;
    }
    32% {
      counter-increment: count 11;
    }
    35% {
      counter-increment: count 12;
    }
    38% {
      counter-increment: count 13;
    }
    41% {
      counter-increment: count 14;
    }
    44% {
      counter-increment: count 15;
    }
    47% {
      counter-increment: count 16;
    }
    50% {
      counter-increment: count 17;
    }
    53% {
      counter-increment: count 18;
    }
    56% {
      counter-increment: count 19;
    }
    59% {
      counter-increment: count 20;
    }
    62% {
      counter-increment: count 21;
    }
    65% {
      counter-increment: count 22;
    }
    68% {
      counter-increment: count 23;
    }
    71% {
      counter-increment: count 24;
    }
    74% {
      counter-increment: count 25;
    }
    77% {
      counter-increment: count 26;
    }
    80% {
      counter-increment: count 27;
    }
    83% {
      counter-increment: count 28;
    }
    86% {
      counter-increment: count 29;
    }
    89% {
      counter-increment: count 30;
    }

}

       .Hinweis {
              width: 60%;
              top: 3%;
              left: 30%;
              font-family: Muli;
              color: #AE4D71;
        }

      .pointer {cursor: pointer;}

    #AugenVerschiebung{
      margin-left: 37%;
      margin-top: 6%;
    }

    #rechtesAuge{
      margin-left: 70px;
    }


    /* Index.js Styling */

    #startVideoIndexSeite{
      position: fixed;
      width: 115%; 
      height: 115%;
      z-index: -20;
      top: -10%;
      left: -10%;
    }

    .weißeSchriftIndexSeite{
      color: white;
      margin-left: 25Px;
    }

    #BottonIndexSeite{
      font-family: Muli;
      background: rgba(255, 255, 255, 0.3 );
      color: white;
      font-size: 25px;
      border-radius: 0;
      border-color: #306A86;
      box-shadow: 0px 0px white;
      padding: 10px;
      padding-left: 20px;
      padding-right: 20px;
      border: 2px solid;
      top: 25%;
      left: 43%;
      margin-top: 2%;
      cursor: pointer;
      margin-left: 25px;
    }

        /* Index.js Styling */


    #startVideoLUXAnimationSeite{
      margin-top: 9px;
      width: 88%;
      z-index: -30;
    }

    #BottonLUXAnimationSeite{
      z-index: 10;
      margin-top: -170px;
      font-family: Muli;
      background: white;
      color: #306986;
      font-size: 18px;
      border-radius: 0;
      border-color: #306986;
      box-shadow: 0px 0px white;
      padding: 10px;
      padding-left: 20px;
      padding-right: 20px;
      border: 2px solid;
      top: 25%;
      left: 43%;
      cursor: pointer;
    }
  
    #BottonInteraktiveGrafikSeite{
      background: white;
      color: #306986;
      font-size: 18px;
      border-radius: 0;
      border-color: #306986;
      box-shadow: 0px 0px white;
      padding: 10px;
      padding-left: 20px;
      padding-right: 20px;
      border: 2px solid;
      cursor: pointer;
      margin-left: 25px;
      margin-top: 25px;
    }

  /* ------------------------------------------------points.js Styling ---------------------------*/


    .BadegesStylingPointsSEite{
      margin-left: 40px;
      margin-top: 10px;
      width: 160px;
      height: 160px;
      opacity: 0.3;
      float: left;
      padding: 20px;
    }

    .BadegesStylingPointsSEite:hover{

      opacity: 1;

    }
    
#aussenCotainerBadges{
  width: 60%;
  height: 200px;
  background-color: rgb(153, 153, 153); 
  margin-left: 20%;
  padding: 20px;
  overflow: auto;
}

#Goodstart{
  opacity: 1;
}

#Punktestand{
  display: block;
  margin-left: 35%;
  margin-bottom: 3%;
  font-weight: 800;
  width: 250px;
  font-size: 60px;
  color: #AE4D71;
  background-color: #EAE8D5;
  padding: 3%;
  padding-left: 11%;
  border-radius: 20px;
}


#interaktiveGrafikBild{
  width: 70%;
  z-index: -60;
  margin-top: -20px;
}

/*----------------Styling Fokus SEite */

#counterSOB{
  font-size: 28px;
  font-family: Muli;
  color: #4d4d4d;
  font-weight: 400;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1%;
}


/*---------------- Punktekprämien Seite  Seite ----------- */
 #GesamtpunktzahlAnzeige{
   margin-left: 25px;
 }

 #ÜberschriftenPunkteverteilung{

 }

